.form {
    padding-top: 10px;
    padding-left: 30px;
}

.label {
    display: block;
    margin-bottom: 15px;
    margin-right: 10px;
    color: #2196f3 ;
}

.input {
    display: block;
    margin-bottom: 15px;
    width: 150px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus {
    cursor: pointer;
    border-color: rgb(0, 170, 255);
}
